@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/ressources/utils/font/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('/ressources/utils/font/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2') format('woff2');
}
